/* 배경 이미지 설정 */
body::before {
    content: ''; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('우주배경.JPEG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

/* 기본 바디 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0; /* 바디의 기본 마진 제거 */
}

.container {
    background: rgba(255, 255, 255, 0.8); /* 흰색 배경을 약간 투명하게 설정 */
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 가운데 정렬 */
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    overflow: hidden; /* 컨테이너 밖으로 콘텐츠가 넘치는 것을 방지 */

}

.button-center {
    margin-top: 90px; /* 상단에 60px 마진 추가 */
    margin-left: 480px; /* 왼쪽으로 35px 이동 */
    display: flex;
    width: 100%;
}

.delete-button {
    margin-left: 10px;
    color: red;
    border: none;
    background: none;
    cursor: pointer;
}

.name-item:hover {
    background-color: lightgray; /* 호버 효과 */
}

.input-section, .group-output-section {
    background: rgba(255, 255, 255, 0.8); /* 흰색 배경을 약간 투명하게 설정 */
    /* flex-basis 속성을 제거하거나 적절한 값으로 조정 */
    width: 95%; /* 너비를 전체 컨테이너 너비에 맞춤 */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0; /* 상하 여백 추가 */
    max-width: 100%; /* 컨테이너 너비를 초과하지 않도록 설정 */

}

.output-section
 {
    background: rgba(255, 255, 255, 0.8); /* 흰색 배경을 약간 투명하게 설정 */
    /* flex-basis 속성을 제거하거나 적절한 값으로 조정 */
    width: 95%; /* 너비를 전체 컨테이너 너비에 맞춤 */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px; /* 상단에 60px 마진 추가 */
    margin-bottom: 50px; /* 상단에 60px 마진 추가 */
    max-width: 100%; /* 컨테이너 너비를 초과하지 않도록 설정 */

}


h1, h3 {
    color: #5a5a5a; /* 헤더 색상 */
    margin-bottom: 20px;
}
button {
    background-color: #4CAF50; /* 버튼 색상 */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 버튼 그림자 */
}


#saveNamesButton {
    display: block;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 14px;
}

button:hover {
    background-color: #45a049; /* 호버 시 버튼 색상 변경 */
}

textarea {
    background: rgba(255, 255, 255, 0.8); /* 흰색 배경을 약간 투명하게 설정 */
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#namesList {
    background: rgba(255, 255, 255, 0.8); /* 흰색 배경을 약간 투명하게 설정 */
    flex-grow: 1; /* 사용 가능한 추가 공간을 채움 */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
    margin-bottom: 10px; /* 하단 여백 추가 */
}

.name-item {
    background: rgba(255, 255, 255, 0.8); /* 흰색 배경을 약간 투명하게 설정 */

    margin-right: 10px; /* 각 이름 사이의 간격 */
    margin-bottom: 10px;
}
.rouletteWheel {
    background: url('불바퀴.png') no-repeat center center; rgba(255, 255, 255, 0.8); /* 흰색 배경을 약간 투명하게 설정 */
    background-size: cover; /* 배경 이미지가 요소를 완전히 커버하도록 설정 */
    width: 600px; /* 불바퀴의 너비 */
    height: 600px; /* 불바퀴의 높이 */
    position: relative; /* 상대 위치 설정 */
    margin-top: 50px; /* 상단에 60px 마진 추가 */
    margin-left: 250px; /* 상단에 60px 마진 추가 */

    transition: transform 2s; /* 부드러운 변환 효과 */
    max-width: 100%; /* 컨테이너 너비를 초과하지 않도록 설정 */

}

.name-bubble {
    font-family: '강원교육새음', sans-serif; /* 폰트 변경 */
    font-size: 25px; /* 글자 크기 변경 */
    position: absolute; /* 불바퀴 주변에 절대 위치 설정 */
    width: 100px; /* 이름의 크기를 키움 */
    height: 100px;
    background-image: url('노란별.png'); /* 공 이미지 경로 */
    background-size: cover;
    text-align: center;
    line-height: 100px; /* 공의 높이와 일치하게 설정 */
    border-radius: 50%; /* 공 모양 */
    color: black; /* 텍스트 색상 */
    transition: transform 2s, opacity 2s; /* 회전 및 투명도 변화에 대한 전환 */

}

.pop-up {
    animation: pop-up 2s ease;
}

@keyframes pop-up {
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}


.group-list {
    margin-bottom: 20px;
}